.widget(data-id="{{_id}}", style="width:{{width}}px; height: {{height}}px;")
  .buttons
      i.edit(title="edit widget").icon-cog
      i.delete(title="delete widget").icon-remove-sign
  .header(contenteditable="true") {{name}}
  style(type="text/css") {{{scopedCSS}}}
  .content {{{html}}}